/* ----------------------Index--------------------------*/



body {
    background-color: whitesmoke;
}

@font-face {
    font-family: 'Belligerent-Madness';
    src:url('Belligerent-Madness.ttf.woff') format('woff'),
        url('Belligerent-Madness.ttf.svg#Belligerent-Madness') format('svg'),
        url('Belligerent-Madness.ttf.eot'),
        url('Belligerent-Madness.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:'Belligerent-Madness';
    font-size: 2em;
    text-align: center;
    background-color: #f2e8f0;
}
.logo {
    width: 300px;
}
.slogan {
    display: flex;
    align-items: center;
    margin: 10px;
}
.panier {
    width: 60px;
}
article {
    display: flex;
}
#teddyImg {
    width: 500px;
    height: 300px;
    margin: 50px 20px 10px 20px;
    box-shadow: 3px 3px 6px 3px #935DEE;
    border-radius: 20px;
    border: white;
    transition: 1s; 
}
#teddyImg:hover {
    width: 550px;
    height: 350px;
    transition: 1s;
    box-shadow: 4px 4px 6px 3px #D48136;
}
#bloc_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#detail {
    display: flex;
    justify-content: space-around;
    font-family: 'Belligerent-Madness' ;
    color: #935DEE;
    font-size: 1.5em;
}


/*--------------------------Produit----------------------------------*/

#produit {
    display: flex;
}
#teddyPhoto {
    width: 500px;
    box-shadow: 3px 3px 6px 3px #935DEE;
    border-radius: 20px;
    margin: 30px;
}
#information {
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-family: 'Belligerent-Madness';
    font-size: 1.5em;
}